<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StrawVerse | Downloads</title>
    <link rel="stylesheet" href="/css/downloads.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar", { MalLoggedIn: MalLoggedIn }) %>

    <!-- main content -->
    <div class="container">
      <div class="caption">
        <div id="caption">Nothing to Download</div>
      </div>

      <div class="progress-bar-container">
        <div class="myBar" id="myBar" style="width: 80%; height: 50px"></div>
      </div>

      <!-- Queue below progress bar -->
      <div id="queue" class="container mt-4">
        <!-- Queue items will be injected here -->
      </div>
    </div>
    <script src="/js/libs/loading-bar.js"></script>
    <script src="/js/downloads.js"></script>
  </body>
</html>
