<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Downloader</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="info.css" />
    <link rel="stylesheet" href="./video_player/video-js.css" />
    <link href="video_player/quality.css" rel="stylesheet" />
    <style>
      .vjs-icon-placeholder {
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Anime Downloader</a>
        <a class="navbar-brand" href="/manga">Manga Downloader</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/log">logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/downloads">Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting">Setting</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            id="searchInput"
            placeholder="Search for Anime"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-info"
            type="submit"
            onclick="search(event)"
          >
            Search
          </button>
          <button
            onclick="goBack()"
            class="btn btn-outline-info"
            style="margin-left: 5px"
          >
            Back
          </button>
        </form>
      </div>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="downloadModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="downloadModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="color: black"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="downloadModalLabel">
              Download Episodes
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="download-form">
              <div class="form-group">
                <label for="start-episode">Start Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="start-episode"
                  name="start-episode"
                  min="1"
                  required
                />
              </div>
              <div class="form-group">
                <label for="end-episode">End Episode:</label>
                <input
                  type="number"
                  class="form-control"
                  id="end-episode"
                  name="end-episode"
                  min="1"
                  max="<%= data.totalEpisodes %>"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Download</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->
    <% if (data?.provider && data.provider === "pahe") { %> <%-
    include("info/pahe.ejs") %> <% } else { %> <%- include("info/all.ejs") %> <%
    } %>
    <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/videojs-http-source-selector@latest/dist/videojs-http-source-selector.min.js"></script>
    <script src="./video_player/video.min.js"></script>
    <script src="./video_player/videojs-contrib-quality-levels.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <script src="download.js"></script>
    <script src="search.js"></script>
    <script src="info.js"></script>
    <!-- <script src="video_player/quality.js"></script> -->
    <!-- <script src="video_player/play.js"></script> -->
  </body>
</html>
