<html>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logs</title>
    <link rel="stylesheet" type="text/css" href="/css/logs.css" />
  </head>
  <body>
    <%- include("components/navbar") %>

    <main>
      <h2>Application Logs</h2>

      <div class="log-container">
        <pre><%= logs %></pre>
      </div>
    </main>
  </body>
</html>
