<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/info.css" />
    <link rel="stylesheet" href="/css/libs/video-js.css" />
    <link rel="stylesheet" href="/css/libs/video-js-quality.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <div class="container-fluids">
      <div class="anime-info">
        <div class="anime-info-left"></div>
        <div class="anime-info-right"></div>
      </div>
    </div>

    <!--  -->
    <div class="container-fluids">
      <div class="anime-info">
        <div class="anime-info-right">
          <!-- watch container -->
          <div id="watchContainer" style="display: none">
            <div class="video-player">
              <div class="description" id="now_playing">Now Playing :</div>
              <video
                id="vid1"
                class="video-js vjs-default-skin"
                controls
              ></video>
              <br />
              select video
              <h4>Click on ep from below to start playing!</h4>

              <!-- Playing From Downloads File  -->
              <% if (data?.DownloadedEpisodes) { %>
              <h5>Play From Downloads</h5>
              <div class="d-grid gap-2 episode-container scrollable-ele">
                <% data?.DownloadedEpisodes?.forEach(ep => { %>
                <button
                  class="btn btn-success round"
                  type="button"
                  onclick="Videoplay('<%= data.id %>', '<%= ep %>', true)"
                >
                  Watch ep <%= ep %>
                </button>
                <% }); %>
              </div>
              <% } %>
              <!-- Online Player -->
              <% if ((Array.isArray(data?.DownloadedEpisodes) && Internet) ||
              !data?.DownloadedEpisodes) { %>
              <h5>Play From Online</h5>
              <div class="d-grid gap-2 episode-container scrollable-ele">
                <% data.episodes.forEach(ep => { %> <% if
                (!Array.isArray(data?.DownloadedEpisodes) ||
                !data.DownloadedEpisodes.includes(ep.number)) { %>
                <button
                  class="btn btn-success round"
                  type="button"
                  onclick="Videoplay('<%= data.id %>', '<%= ep.number %>', false)"
                >
                  Watch Ep <%= ep.number %>
                </button>
                <% } %> <% }); %>
              </div>
              <% } else { %>
              <br />
              <h5>Online Player is Hidden!</h5>
              <h5>Reason: No Internet Connection.</h5>
              <br /><br /><br />
              <% } %>
              <!-- Online Player End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
