@import url("/css/poppins.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  margin-top: 70px;
  width: 100%;
  padding-right: 15px;
  padding-left: 50px;
}

.message {
  color: #999;
  font-style: italic;
}

#queue {
  margin-top: 20px;
  overflow: hidden;
}

#queue-items {
  max-height: 350px;
  width: auto;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #555 #222;
}

#queue-items::-webkit-scrollbar {
  width: 1rem;
}

#queue-items::-webkit-scrollbar-track {
  background: #222;
}

#queue-items::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

#queue-items::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.queue-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #444;
  border-radius: 4px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.queue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.queue-title {
  flex-grow: 1;
  text-align: center;
}

.queue-buttons {
  display: flex;
  gap: 10px;
}

.queue-buttons button {
  padding: 5px 10px;
}

.remove-icon {
  cursor: pointer;
  color: red;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 70px;
  position: relative;
}

/* loaing bar */
.ldBar {
  position: relative;
}

.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}

.ldBar-label:after {
  content: "%";
  display: inline;
}

.ldBar.no-percent .ldBar-label:after {
  content: "";
}
