@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  padding: 1rem;
  padding-left: 7rem;
}

.log-container {
  overflow: auto;
  border: 1px solid blanchedalmond;
  padding: 10px;
  margin-top: 20px;
  height: 89%;
}

pre {
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
}
