.manga-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  gap: 1rem;
}

.manga-page {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}

.StickyMangaControls {
  position: fixed;
  bottom: 1%;
  left: 6%;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #f5e1ff;
  border-radius: 10px;
  z-index: 500;
  max-height: 80vh;
  overflow-y: auto;
}

.chapter-navigation,
.page-navigation,
.jump-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.manga-btn {
  background-color: #f5e1ff;
  color: black;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manga-btn:hover {
  background-color: #f5e1ff;
}

.manga-input {
  color: white;
  width: 175px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #222;
  border: 0rem;
  margin: 0rem;
}

.chapter-navigation span,
.page-navigation span {
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
}

.chapter-navigation button,
.page-navigation button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jump-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-navigation,
.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.chapter-navigation span,
.page-navigation span {
  flex-grow: 1;
  text-align: center;
  font-size: clamp(12px, 2vw, 16px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* My Anime List */
.StickyMalControls {
  position: fixed;
  bottom: 3%;
  left: 6%;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  z-index: 500;
  max-height: 80vh;
  overflow: hidden;
}

.StickyMalControls h4 {
  font-weight: 900;
  font-size: larger;
}

.mal-select-menu {
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  background-color: #222;
  border: 0.1rem solid #6a3fcf;
  margin: 0rem;
}

.mal-select-menu option {
  background-color: #222;
  color: #8c5aff;
  border: none;
}

.mal-select-menu option:hover {
  background-color: #6a3fcf;
}

.episode-control {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.episode-control button {
  background-color: #8c5aff;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.episode-control button:hover {
  background-color: #6a3fcf;
}

.episode-status {
  min-width: 80px;
  text-align: center;
  font-weight: bold;
  position: relative;
  overflow: visible;
}

.episode-status span:hover .mal-tool-tip {
  left: auto;
  right: 0;
}

.mal-tool-tip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  transform: translateY(-5px);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 9999999;
}

.episode-status span:hover .mal-tool-tip {
  visibility: visible;
  opacity: 1;
}
