@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container-fluid {
  margin-top: 70px;
}

.anime-info {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
}

.anime-type {
  text-transform: capitalize;
  font-weight: inherit;
  font-size: 1rem;
}

.anime-title {
  margin-bottom: 10px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.anime-details {
  display: flex;
  align-items: flex-start;
}

.anime-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 20px;
}

.genres {
  display: flex;
  padding: 0;
  margin: 0;
}

.episode-container {
  display: flex;
  justify-content: start;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 10px;
}

.episode-container::-webkit-scrollbar {
  width: 12px;
}

.episode-container::-webkit-scrollbar-track {
  background: #333;
}

.episode-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

.round {
  align-items: center;
  border-radius: 50px;
  margin-bottom: 15px;
}

.episodes {
  margin-top: 20px;
}

.episode {
  margin-bottom: 10px;
}

.video-player {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vid1 {
  width: 100%;
  height: auto;
  min-height: 400px;
  max-width: 100%;
}

.description {
  margin-bottom: 10px;
  color: #fff;
}
