@import url("/css/poppins.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.providers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

.provider {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.provider-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
}

.provider-name {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.provider-version {
  font-size: 0.85rem;
  color: #aaa;
  margin: 0.25rem 0;
}

.provider-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: auto;
}

.obsulute {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #ff4d4f;
  color: #fff;
  padding: 0.25rem 0.6rem;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
  display: inline;
  box-shadow: 0 0 6px rgba(255, 77, 79, 0.5);
}

.btn {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
}

.btn-install {
  background-color: #28a745;
  color: white;
}

.btn-update {
  background-color: #007bff;
  color: white;
}

.btn-app-update {
  background-color: #ffb400;
  cursor: default;
  color: white;
}

.btn-remove {
  background-color: #dc3545;
  color: white;
}

.provider-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.provider-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
}
