@import url("/css/poppins.css");
@import url("/css/icons.css");

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #222;
  transition: all 0.4s ease;
  z-index: 1000;
  color: white;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
  background: none;
}

.sidebar-header {
  position: relative;
  height: 60px;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(-100%, -100%);
  padding: 1.5rem;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  color: #000000;
  background: #ffffff;
}

.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-link:hover {
  color: #151a2d;
  background: #fff;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151a2d;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.sidebar-search {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 15px;
  cursor: pointer;
}

.sidebar-search input {
  flex: 1;
  max-width: 0;
  padding: 8px 12px;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  outline: none;
  display: none;
  transition: max-width 0.3s ease, display 0s 0.3s;
  cursor: pointer;
}

.left {
  margin-right: 20px;
}

.sidebar-search .search-icon {
  color: #fff;
  display: block;
}

.sidebar-search.show-input input {
  display: block;
  max-width: 80%;
}

.sidebar-search.show-input .search-icon {
  display: none;
}

.sidebar.collapsed .sidebar-search input {
  display: none;
}

.sidebar.collapsed .sidebar-search .search-icon {
  display: block;
}
