@import url("/css/poppins.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  min-height: 100vh;
}

#settings-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  padding-left: 7rem;
}

#settings-left {
  width: 200px;
  padding: 1rem;
}

#settings-left ul {
  list-style: none;
}

#settings-left li {
  padding: 10px;
  cursor: pointer;
  background: #444;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  transition: background 0.3s;
}

#settings-left li:hover {
  background: #007bff;
}

#settings-right {
  flex: 1;
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.settings-section {
  display: none;
}

.settings-section h2 {
  text-align: center;
}

.settings-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background: #333;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  border: 0.1rem solid transparent;
}

input:hover,
select:hover,
input:focus,
select:focus {
  border: 0.1rem solid #007bff;
  outline: none;
}

.buttons {
  background: #6200ea;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.buttons:hover {
  background: #007bff;
  transform: scale(1.05);
}
#open-marketplace {
  position: fixed;
  bottom: 5rem;
  right: 34%;
}

#save-settings {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* loading animations */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 45%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
